<%= form_with(model: @artist, local: true, class: "ui form") do |f| %>
  <div class="field">
    <%= f.label :artist_name %>
    <%= f.text_field :artist_name, required: true, placeholder: "First Name"%>
  </div>
    <%= f.label :avatar %>
    <%= f.text_field :avatar, placeholder: "Avatar"%>
  </div>
   <%= f.submit class: "ui button"%>
  <div class="ui button">
    <%= link_to 'Cancel', artists_path %>
  </div>
<% end %>